PAAS3 Bluemix.json
[{"id":"99039a95.770968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9c6497e.670138","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"643f4255.e8a92c","type":"inject","z":"99039a95.770968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":160,"y":100,"wires":[["f8519d44.28b0a"]]},{"id":"3e7e731c.79478c","type":"inject","z":"99039a95.770968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":160,"y":180,"wires":[["f8519d44.28b0a"]]},{"id":"f8519d44.28b0a","type":"function","z":"99039a95.770968","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["73b5016b.c1633"]]},{"id":"73b5016b.c1633","type":"json","z":"99039a95.770968","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["a8ffaa36.a435b8"]]},{"id":"a8ffaa36.a435b8","type":"ibmiot out","z":"99039a95.770968","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027e9bb48","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":710,"y":140,"wires":[]},{"id":"26fcbb64.b6fc54","type":"ibmiot in","z":"a9c6497e.670138","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"080027e9bb48","applicationId":"","deviceType":"senseHAT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":120,"wires":[["7c265fe6.bdae7"]]},{"id":"7c265fe6.bdae7","type":"debug","z":"a9c6497e.670138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]}]